.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.header {
  background: rgba(255, 255, 255, 0.75);
  padding: 10px;
}
.text-muted {
  padding-left: 10px;
  color: black;
}
/* Space out content a bit */
body {
  padding-bottom: 20px;
  background-color: #73AFB6;
}

.project-background {
  border-color: #2B2301;
}

.jumbotron {
  background-color: #DAD197;
}

.sign-up-button {
  background-color: #2B2301;
}

.navbar {
  width: 100%;
  background-color: #2B2301;
  color: white;
  border-color: #2B2301;
  font-size: 1.25em;
}

.navbar-right {
  padding-right: 2%;
}

.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(248, 248, 248, 0);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: white;
    color: #2B2301;
}

nav a {
  color: white;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
  background-color: #2B2301;
  border: 1px solid #73AFB6;
}

.jumbotron .btn-sm {
  /*font-size: 21px;*/
  /*padding: 14px 24px;*/
  background-color: #2B2301;
  border: 1px solid #73AFB6;
}


/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#sign-in-submit{
  text-align: center;
  margin-left: 25%;
}

#sign-up-submit{
  text-align: center;
  margin-left: 25%;
}

#sign-up-form {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  text-align:left;
}

#sign-in-form {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  text-align:left;
}

label {
  width: 200px;
  margin-top: 10px;
  text-align: right;
}

input {
  width: 200px;
  border: 1px solid #000;
}

.user ul li {
  list-style-type: none;
}

.avatar-form {
  margin: 0 auto;
}

.task-container {
  background-color: #eeeeee;
  padding: 5px;
  border: #428bca solid 3px;
}

.user h2 {
  /*margin-left: 5%;*/
  padding: 2%;
}

p, button, #avatar-change {
  margin-left: 0.85%;
  padding: 7px;
}

.user img {
  border: #428bca solid 3px;
}

.project {
  height: 250px;

}

.project ul {
  padding: 5px;
  list-style-type: none;
}

.project .project-background {
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-color: #2B2301;
}

.project ul span {
  font-weight: bold;
}

.newproject a {
  font-weight: bold;
  color: black;
  background: rgba(255, 255, 255, 0.9);
  padding: 5px;
}

.project-image {
  text-align: right;
}

.project-image img {
  height: 20px;
}

.row-same-height {
  display: table;
}

#tim {
  width: 75%;
  margin: 10px;
}

.col-lg-height {
  display: table-cell;
  float: left;
}

.col-top {
  vertical-align: top;
}

.partial-form {
  margin: 0 auto;
}
